-i https://pypi.python.org/simple/
certifi==2018.1.18
dj-database-url==0.5.0
django==1.11.28
gunicorn==19.7.1
pipenv==11.8.0
psycopg2==2.7.2
pytz==2018.3
virtualenv-clone==0.3.0
virtualenv==15.1.0
whitenoise==3.3.1
