/* basic html */

html{
 /* background-color:#312db5; */
}

body{
	margin:10%;
	align-content:center;
	max-width:90%;
	background-color:white;
	height:100% !important;
	align-self: center;
	align-content: center;

}

p,li,th,tr{
	font-family: 'Poiret One', cursive;
	font-size:1.5rem;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Cookie', cursive;
}


/* custom classes */

.headline{
	text-align:center;
	font-size:4rem;
	font-family: 'Poiret One', cursive;
}

.headline img{
	width:70%;
	height:auto;
}

.post{
	max-width: 80%;
	margin-top:5%;
	align-self: center;
}

a{
	color:#1f8284;
}
